#insieme{
   margin-left: 2rem;
   margin-right: 2rem;
    display: flex;
    width: 90%;
    height: 510px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #fbf7e3;
    flex-wrap: wrap;
}

 #img3{
    margin-top: 1rem;
    margin-left: 1rem;
    height: 270px;
    width: 95%;
}

h4{
    font-size: 20px;
    color:#733916;
    margin-left: 1rem;
    margin-right: 1rem;

}

aside p{
    color:#733916;
    font-size: 15px;
    margin-left: 1rem;
    margin-right: 1rem;

}
